# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Modelos y resultados generados
modelos/
resultados/
hiperparametros/
resultados_elm_init/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
